---
layout: base
---

<section id="content" class="md:half lg:screen-v-scroll flex row wrap relative">
	<div class="full md:py">
		<header class="full noselect pl-1 svelte-11np3qp">
			<div class="px md:py">
				<h1 class="large title white svelte-11np3qp">{{ title }}</h1>
			</div>
			<!-- date and admin -->
			<div class="px md:py">
				<em class="title white svelte-11np3qp">{{ date | fullDate }}</em>
				By <em class="title white svelte-11np3qp">{{ author }}</em>
			</div>

		</header>
		<article class="pl-1 svelte-11np3qp">
			<div class="pad white flex col">
				<div class="mb tweak-1 svelte-11np3qp">
					{{ content }}
				</div>
			</div>
			<div class="y-space"></div>
		</article>
	</div>
</section>